@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans&display=swap');

:root {
  --text-color: hsl(201, 100%, 85%);
  --heading: hsl(316, 99%, 53%);
  --heading-hover: hsl(321, 100%, 67%);
  --link-color: hsl(30, 100%, 56%);
  --link-hover: hsl(58, 97%, 63%);
  --code-text: hsl(60, 100%, 80%);
  --code-bg: hsl(260, 80%, 20%);
  --shadow: hsl(237, 44%, 10%);
  font-family: 'Fira Sans', 'Courier New', Courier, monospace;
  font-size: 1rem;
  color: var(--text-color);
  background: hsl(237, 44%, 10%);
  overflow-x: hidden;
  height: auto;
  width: auto;
  letter-spacing: -0.0125em;
  line-height: 1.125;
}

::-webkit-scrollbar {
  display: none;
}

a,
a:active,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  text-decoration: none;
}

li {
  margin: 0.25em;
}

h1 {
  color: var(--heading);
  line-height: 1;
  margin: 0 auto;
  padding: 0 auto;
  letter-spacing: -0.0125em;
}

h2 {
  color: var(--heading);
  line-height: 1;
  margin: 0 auto;
  padding: 0 auto;
  letter-spacing: -0.0125em;
}

h3 {
  margin: 0 auto;
  margin-top: 2.5em;
  padding: 0 auto;
  line-height: 1;
  color: var(--heading);
}

code {
  background: var(--code-bg);
  color: var(--code-text);
  font-family: 'Fira Code', 'Courier New', Courier, monospace;
  font-size: 0.875em;
  padding: 0 5px;
  margin: 2.5px 0;
  border-radius: 0.25em;
}

@media (prefers-color-scheme: light) {
  :root {
    background: hsl(182, 52%, 70%);
    --text-color: hsl(0, 0%, 25%);
    --link-color: hsl(228, 97%, 70%);
    --link-hover: hsl(228, 100%, 80%);
    --heading: hsl(282, 97%, 59%);
    --heading-hover: hsl(273, 94%, 65%);
    --shadow: hsl(0, 0%, 60%);
  }
}
