@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Fira+Sans&display=swap');

@font-face {
  font-family: 'streamster';
  src: url(~/assets/streamster.ttf) format('truetype');
}

html {
  overflow-x: hidden;
}

:root {
  --text: hsl(201, 100%, 85%);
  --bg: hsl(234, 65%, 25%);
  --accent: hsl(240, 76%, 13%);
  --main: hsl(237, 44%, 10%);
  --heading: hsl(316, 99%, 53%);
  --link: hsl(30, 100%, 56%);
  --hover: hsl(58, 97%, 63%);
  --blog-date: hsl(314, 90%, 75%);
  --shadow: hsl(237, 44%, 10%);
  --line-color: hsl(234, 65%, 25%);
  --form-bg: hsl(0, 0%, 55%);
  --code-text: #f8f8f2; /* use same color as Prism theme */
  --code-bg: #272822; /* use same color as Prism theme */
  font-size: 1rem;
  font-family: 'Fira Sans', 'Segoe UI', 'Courier New', Courier, monospace;
  color: var(--text);
  line-height: 1;
  background: linear-gradient(0deg, var(--accent) 35%, var(--bg) 95%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  margin: 0 auto;
  width: 100vw;
  height: auto;
}

::-webkit-scrollbar {
  display: none;
}

main {
  border-style: none;
  border-radius: 1rem;
  margin: auto calc(2em + 4vw);
  padding: 2.75em;
  background: var(--main);
  background: linear-gradient(180deg, var(--main) 85%, transparent 100%);
  min-height: 60vh;
  height: auto;
  width: auto;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: -0.0125em;
  line-height: 1.25;
}

a,
a:active,
a:visited {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--hover);
  text-decoration: none;
  transition-duration: 0.25s;
  transition-property: color, fill, stroke;
  transition-timing-function: linear;
}

h1,
h2 {
  color: var(--heading);
  font-weight: 600;
  line-height: 1;
  font-size: 1.35em;
  margin: 0 auto;
  padding: 0 auto;
  letter-spacing: -0.0125em;
}

h3 {
  margin: 0 auto;
  margin-top: 2.5em;
  padding: 0 auto;
  line-height: 1;
  font-size: 1.15em;
  color: var(--heading);
}

p > code,
li > code {
  padding-right: 5px;
  padding-left: 5px;
  background: var(--code-bg);
  color: var(--code-text);
  border-radius: 0.25em;
}

/* Typewriting effect borrowed from Geoff Graham - https://css-tricks.com/snippets/css/typewriter-effect */

.typing {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  border-right: 0.65em solid transparent;
  width: 5.35em;
  float: left;
  animation: typing 0.5s steps(40, end), blink-caret 1s step-end 5;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 6em;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--heading);
  }
}

/* detect light or dark mode */

@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(0, 0%, 25%);
    --main: hsl(316, 100%, 84%);
    --heading: hsl(263, 95%, 57%);
    --bg: hsl(180, 96%, 74%);
    --accent: hsl(180, 55%, 55%);
    --hover: hsl(30, 100%, 56%);
    --link: hsl(59, 100%, 50%);
    --blog-date: hsl(230, 100%, 66%);
    --line-color: hsl(228, 26%, 45%);
    --form-bg: hsl(0, 0%, 80%);
    background: var(--bg);
    background: linear-gradient(0deg, var(--accent) 35%, var(--bg) 95%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
  }

  main {
    background: var(--main);
    background: linear-gradient(180deg, var(--main) 85%, transparent 100%);
  }

  a,
  a:active,
  a:visited,
  a:hover {
    text-shadow: 1px 1px 2px var(--shadow);
  }
}

@media screen and (max-width: 1080px) {
  main {
    margin: 0.5em 1em;
    padding: 1em;
    font-size: 1.35em;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  main {
    margin: auto;
    min-height: 75vh;
  }
}
