@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Fira+Sans&display=swap');

@font-face {
  font-family: 'streamster';
  src: url(~/assets/streamster.ttf) format('truetype');
}

* {
  padding: 0;
  margin: 0;
}

html {
  /* dark mode (base) colors */
  --text: hsl(201, 100%, 85%);
  --nav: hsl(236, 66%, 21%);
  --accent: hsl(234, 65%, 25%);
  --main: hsl(237, 44%, 10%);
  --heading: hsl(316, 99%, 53%);
  --subheading: hsl(314, 90%, 75%);
  --link: hsl(30, 100%, 56%);
  --hover: hsl(58, 97%, 63%);
  --shadow: #000;
  --form-bg: hsl(0, 0%, 55%);
  --code-text: #f8f8f2;
  font-size: 1.2rem;
  font-family: 'Fira Sans', 'Segoe UI', 'Courier New', Courier, monospace;
  color: var(--text);
  line-height: 1;
  background: var(--nav);
  overflow-x: hidden;
  margin: 0 auto;
  width: 100vw;
  height: auto;
}

::-webkit-scrollbar {
  display: none;
}

main {
  border-style: none;
  padding: 2rem;
  margin: 0 auto;
  background: var(--main);
  min-height: auto;
  height: auto;
  width: auto;
  font-weight: 500;
  letter-spacing: -0.0125em;
  line-height: 1.25;
}

a,
a:active,
a:visited {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--hover);
  text-decoration: none;
  transition-duration: 0.25s;
  transition-property: color, fill, stroke;
  transition-timing-function: linear;
}

h1 {
  color: var(--heading);
  line-height: 1;
  margin: 0 auto;
  padding: 0 auto;
  letter-spacing: -0.0125em;
}

h2 {
  color: var(--heading);
  font-weight: 600;
  line-height: 1;
  font-size: 1.35em;
  margin: 0 auto;
  padding: 0 auto;
  letter-spacing: -0.0125em;
}

h3 {
  margin: 0 auto;
  padding: 0 auto;
  line-height: 1;
  font-size: 1.15em;
  color: var(--heading);
}

p,
section,
article,
aside,
h1,
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

p > code,
li > code {
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: #08083a;
  color: var(--code-text);
  border-radius: 0.25em;
  font-size: 0.9em;
  font-family: 'JetBrainsMono NF', 'JetBrainsMono Nerd Font',
    'JetBrainsMono Nerd Font Mono', Consolas, Monaco, 'Andale Mono',
    'Ubuntu Mono', monospace;
}

hr {
  border: 0.25px solid var(--text);
  opacity: 0.25;
  margin: 1rem 0;
}

ol,
ul {
  list-style-position: inside;
}

.art-date {
  padding: 0 auto;
  margin: 0 auto 0.35em 0.35em;
  color: var(--subheading);
  text-shadow: none;
}

.art-desc {
  padding: 0 auto;
  margin: 0 auto 0 0.75em;
  color: var(--text);
  text-shadow: none;
}

.art-title {
  margin: 0;
  text-shadow: none;
  height: 50px;
}

.art-tags {
  padding: 0 auto;
  margin: 0.5em auto 0 0.35em;
  color: var(--subheading);
}

.art-tags .tag {
  background: var(--heading);
  font-weight: bold;
  border-radius: 0.25em;
  margin-top: 2px;
  margin-right: 8px;
  padding: 3px 5px;
}

.art-tags .tag a,
.art-tags .tag a:visited,
.art-tags .tag a:active {
  color: #000;
}

.art-tags .tag:hover {
  background-color: var(--subheading);
  text-decoration: none;
}

/* Typewriting effect borrowed from Geoff Graham - https://css-tricks.com/snippets/css/typewriter-effect */

.typing {
  overflow: hidden;
  white-space: nowrap;
  margin: 1em auto 0.1em auto;
  border-right: 0.65em solid transparent;
  width: 5.35em;
  float: left;
  animation: typing 0.5s steps(40, end), blink-caret 1s step-end 5;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 6em;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--heading);
  }
}

/* detect light mode & change colors */

@media (prefers-color-scheme: light) {
  html {
    --text: hsl(0, 0%, 25%);
    --nav: hsl(170, 70%, 65%);
    --main: #fef1f8;
    --accent: hsl(170, 70%, 55%);
    --subheading: hotpink;
    --link: hsl(30, 100%, 45%);
    --hover: hsl(55, 90%, 60%);
    --form-bg: hsl(170, 50%, 80%);
  }

  p a,
  p a:active,
  p a:visited,
  p a:hover {
    font-weight: bold;
  }
}

/* detect high contrast modes & change colors */

@media (prefers-contrast: more) {
  html {
    --text: #fff;
    --nav: #404040;
    --main: #000;
    --accent: #777;
    --heading: hsl(316, 99%, 53%);
    --subheading: hsl(316, 99%, 53%);
    --link: hsl(58, 97%, 63%);
    --hover: hsl(58, 97%, 63%);
    --form-bg: #777;
  }
}

@media screen and (min-width: 200px) and (max-width: 767px) {
  main {
    font-size: 1.25em;
    padding: 0.5rem;
  }

  header {
    padding: 1rem;
  }

  .index-page {
    margin: 0.5rem 0;
  }

  .art-title {
    height: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  main {
    font-size: 1.25em;
    padding: 0.5rem 2rem;
  }

  header {
    padding: 1rem 2rem 0.5rem 2rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  main {
    font-size: 1.5em;
    padding: 1rem 5rem;
  }

  header {
    padding: 1rem 5rem 0.5rem 5rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  main {
    font-size: 1.5em;
    padding: 2rem 10rem;
  }

  header {
    padding: 1rem 10rem 0.5rem 10rem;
  }
}

@media screen and (min-width: 1440px) {
  main {
    font-size: 1.5rem;
    padding: 2rem calc(10rem + 10vw);
  }

  header {
    padding: 1rem calc(10rem + 10vw) 0.5rem calc(10rem + 10vw);
  }
}
