@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Fira+Code:wght@400&family=Fira+Sans&display=swap');

:root {
  --text-color: hsl(201, 100%, 85%);
  --heading: hsl(316, 99%, 53%);
  --heading-hover: hsl(321, 100%, 67%);
  --code-text: hsl(60, 100%, 80%);
  --code-bg: hsl(260, 80%, 20%);
  --link-color: hsl(30, 100%, 56%);
  --link-hover: hsl(58, 97%, 63%);
  --blog-date: hsl(314, 90%, 75%);
  --shadow: hsl(237, 44%, 10%);
  font-size: 1rem;
  font-family: 'Fira Sans', 'Segoe UI', 'Courier New', Courier, monospace;
  color: var(--text-color);
  line-height: 1;
  background: linear-gradient(
    0deg,
    hsl(240, 76%, 13%) 35%,
    hsl(234, 65%, 25%) 95%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  margin: 0 auto;
  width: 100vw;
  height: auto;
}

::-webkit-scrollbar {
  display: none;
}

main {
  border-style: none;
  border-radius: 1rem;
  margin: 0.5em 5em;
  padding: 2.75em;
  background: hsl(237, 44%, 10%);
  min-height: 60vh;
  height: auto;
  width: auto;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: -0.0125em;
  line-height: 1.25;
}

a,
a:active,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  text-decoration: none;
  transition-duration: 0.25s;
  transition-property: color, fill, stroke;
  transition-timing-function: linear;
}

h2 {
  color: var(--heading);
  font-weight: 600;
  line-height: 1;
  font-size: 1.35em;
  margin: 0 auto;
  padding: 0 auto;
  letter-spacing: -0.0125em;
}

h3 {
  margin: 0 auto;
  margin-top: 2.5em;
  padding: 0 auto;
  line-height: 1;
  font-size: 1.15em;
  color: var(--heading);
}

pre {
  padding: 0.25em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

pre,
code {
  background: var(--code-bg);
  color: var(--code-text);
  font-family: 'Fira Code', 'Courier New', Courier, monospace;
  font-size: 0.925em;
  border-radius: 0.25em;
  padding: auto;
  height: auto;
  width: auto;
  white-space: pre-wrap;
}

p > code,
li > code {
  padding-right: 5px;
  padding-left: 5px;
}

@media (prefers-color-scheme: light) {
  :root {
    background: linear-gradient(
      0deg,
      hsl(316, 100%, 75%) 35%,
      hsl(316, 92%, 85%) 95%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    --text-color: hsl(0, 0%, 15%);
    --link-color: hsl(58, 100%, 68%);
    --link-hover: hsl(30, 100%, 56%);
    --code-text: hsl(55, 75%, 67%);
    --code-bg: hsl(216, 35%, 40%);
    --heading: hsl(282, 97%, 59%);
    --heading-hover: hsl(273, 94%, 65%);
    --blog-date: hsl(228, 97%, 70%);
    --other-color: hsl(228, 100%, 80%);
    --shadow: hsl(0, 0%, 25%);
  }
  main {
    background: hsl(182, 52%, 70%);
  }
}

@media screen and (max-width: 1200px) {
  main {
    margin: 0.5em 2em;
  }
}

@media screen and (max-width: 1080px) {
  main {
    margin: 0.5em 1em;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.1em;
  }
  main {
    margin: 0.5em auto;
    padding: 1em;
    font-size: 1.35em;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 0.95rem;
  }
  main {
    margin: 0.5em auto;
    padding: 1em;
  }
}
